# Ignore VCS
.git
.gitignore

env
*.pyc
*.secret
find4u/cli
!find4u/cli/ink-app/config-schema.js
!find4u/cli/ink-app/cli.js
find4u/web/node_modules
finder_proj/ai
finder_proj/repo
finder_proj/staticprod
docs/build
bare

# Ignore OS junk
*.swp
*.tmp
*.log
.DS_Store
Thumbs.db