asgiref
certifi
charset-normalizer
colorama
Django
filelock
fsspec
gitdb
GitPython
huggingface-hub
idna
Jinja2
joblib
Markdown
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
smmap
snowballstemmer
sqlparse
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
