{% extends "master.html" %}
{% load searchbox %}
{% load static %}

{% block title %}
   Home
{% endblock title %}

{% block content %}
   <div class="fullscreen-search">
	  <div>
      {% now "m-d" as today_md %}
      {% if today_md == "06-21" %}
          <img src='{% static "lgog.png" %}' alt="Happy Lgog Day!" width="300px" style="margin-bottom: 10px;">
      {% else %}
          <img src='{% static "logo.png" %}' alt="Finder Logo" width="300px" style="margin-bottom: 10px;">
      {% endif %}
      {#<h1>Finder!</h1>#}
      <form class="search" action='{% url "search:search_results" %}'>
        <input type="text" placeholder="Search.." name="q" autocomplete="off" list="common" id="search">
	    <datalist id="common"></datalist>
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
   
      <p><a href="{% url 'search:all_indexed' %}">See every page I know about</a></p>
      <p><a href="{% url 'repo:index' %}">Check the repository dashboard for the latest info!</a></p>
	  </div>
   </div>
{% endblock content %}

{% block scripts %}
   {% searchbox_js "search" "common" common %}
{% endblock scripts %}